::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $color-green;
}

html,
body {
  font-family: $font-family;
  font-size: $font-12;

  overflow-x: hidden;
  background: $primary-color;
}

.container {
  @include container();
}

.close {
  text-shadow: none;
  opacity: 1;
}

.image{
  width: 100%;

  &__card{
    position: absolute;
    right: 0;
    top: 5rem;

    width: fit-content;
    height: 80%;
  }
}

.decorate {
  color: $color-white;
}

.logo{
  @include flex();

  &-title {
    @include transition();

    padding-left: $p-1;
    color: $color-white;
    text-decoration: none;
    font-weight: $font-w-500;

    &:hover{
      color: $color-green;
      text-decoration: none;
    }
  }
}

.checkout {
  position: absolute;
  top: -16rem;
  right: 2rem;

  z-index: 2;
}

.shape {
  position: absolute;
  left: 10rem;
  top: -2rem;

  z-index: 1;
}

.around {
  height: 45rem;

  border: 5px solid $color-green;
  border-radius: 50%;

  .title {
    transform: rotateZ(25deg);
  }

  &-2 {
    height: 35rem;

    border: 5px solid $color-green;
    border-radius: 50%;
  }

  &-3 {
    height: 25rem;

    border: 5px solid $color-green;
    border-radius: 50%;
  }

  &-4 {
    height: 15rem;

    border: 5px solid $color-green;
    border-radius: 50%;
  }

  &-5 {
    height: 5rem;

    border: 5px solid $color-green;
    border-radius: 50%;
  }
}