::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $color-green;
}

html,
body {
  font-family: $font-family;
  font-size: $font-12;

  overflow-x: hidden;
  background: $primary-color;
}

.container {
  @include container();
}

.close {
  text-shadow: none;
  opacity: 1;
}

.image{
  width: 100%;

  &__card{
    position: absolute;
    right: 0;
    top: 5rem;

    width: fit-content;
    height: 80%;
  }
}

.decorate {
  color: $color-white;
}

.logo{
  @include flex();

  &-title {
    @include transition();

    padding-left: $p-1;
    color: $color-white;
    text-decoration: none;
    font-weight: $font-w-500;

    &:hover{
      color: $color-green;
      text-decoration: none;
    }
  }

}