@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin transition {
  transition: all 0.3s;
}

@mixin alignment {
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin transform($a, $b) {
  transform: translate($a, $b);
}

@mixin filter {
  filter:blur(4px);
}

@mixin container {
  max-width: 1350px;
  margin: 0 auto;
}

